* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  font-weight: 400;
  color: #3F86BE;
  transition: all .3s ease;
}

a:hover {
  color: #D51B99;
}
