@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900&display=swap');

html{
  font-size: 10px;
}

body {
  margin: 0;
  font-family: "Raleway", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.5px;
  font-size: 1.5em;
  font-weight: 500;
  color: rgba(138,142,156,1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
}


h1 {
  font-size: 3em;
  line-height: 2.5em;
}
h2 {
  font-size: 2em;
  line-height: 1.5em;
}
